<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    </head>
    <body>
    <div class="container">
    <div class="row">
        {% block flashMessages %}
            {% set fmessages = app.session.flashBag.get('user_notice') %}
            {% if fmessages | length>0 %}
                <div class="alert alert-info alert-dismissible pull-right" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for fmessage in fmessages %}
                <p>{{ fmessage }}</p>
            {% endfor %}
                </div>
            {% endif %}
        
        {% endblock %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/hinclude.js') }}"></script>
        {% endblock %}
    </div>
    </div>
    </body>
</html>
